﻿@model Exercise01.Models.Employee

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Employee</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <form method="post" asp-controller="Employee" asp-action="Edit">
                <input type="hidden" class="form-control" asp-for="EmployeeId">
                <div class="form-group">
                    <label asp-for="EmployeeName" class="control-label"></label>
                    <input asp-for="EmployeeName" class="form-control" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect waves-light btn-save">Save</button>
                    <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
