﻿@using System.Collections
@using Exercise01.Models
@model Exercise01.Models.Request 
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApproveBy" class="control-label"> Approve by</label>
                    <select id="" name="EmployeeId" class="form-control" required>
                        @{ 
                            foreach (var employee in ViewBag.Employees as IEnumerable<Employee>)
                            {
                                <option  value="@employee.EmployeeId">@employee.EmployeeName</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect waves-light btn-save">Save</button>
                    <button type="button" class="btn btn-secondary waves-effect m-l-5" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


