﻿
@model Exercise01.Models.Request 

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit Request</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <form method="post" asp-controller="Request" asp-action="Edit">
                <input type="hidden" class="form-control" asp-for="RequestId">
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApproveBy" class="control-label"> Approve by</label>
                    <select id="" name="EmployeeId" class="form-control" required>
                        @{ 
                            //Nhu the nay thi hien thi tat ca danh sach 
                            foreach (var employee in ViewBag.Employees as IEnumerable<Employee>)
                            {
                                if (employee.EmployeeId == Model.EmployeeId) // Kiem tra dieu kien o day
                                {
                                    <option  value="@employee.EmployeeId" selected>@employee.EmployeeName</option>
                                }
                                else
                                {
                                    <option  value="@employee.EmployeeId">@employee.EmployeeName</option>
                                }
                                
                            }
                        }
                    </select>
                </div>
                
                <input class="btn btn-primary" type="submit" value="Save"/>
                <a class=" text-dark btn btn-primary" asp-area="" asp-controller="Request" asp-action="Index">Close</a>
            </form>
        </div>
    </div>
    
</div>


